<ion-header>

  <ion-navbar>
    <ion-title>Contacts</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <ion-list class="accordion-list">
    <!-- First Level -->
    <ion-list-header *ngFor="let item of vendors; let i = index" no-lines no-padding>
      <!-- Toggle Button -->
      <button ion-item (click)="toggleSection(i,item)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <ion-icon item-left ios="ios-calendar" md="md-calendar" name="calendar"></ion-icon>
        <ion-icon item-right name="arrow-down" *ngIf="!item.open && item.contactPerson.length>0"></ion-icon>
        <ion-icon item-right name="arrow-up" *ngIf="item.open && item.contactPerson.length>0"></ion-icon>
        <h2> {{ item.stationName }}</h2>
        <h4>
          At {{ item.vendorCompany }}
        </h4>

      </button>
      <ion-list *ngIf="item.contactPerson && item.open" no-lines>
        <!-- Third Level -->
        <ion-item *ngFor="let child of item.contactPerson; let k = index" (click)="presentPopover(event,child)" detail-none class="child-item" text-wrap>
          <h2>{{ child.name }}</h2>
          <h2>{{ child.firstName }} {{ child.lastName }}</h2>
          <p><span *ngIf="child.title">{{ child.title }},</span> {{child.company}}</p>
          <!-- Direct Add Button -->
          <!-- <button ion-button outline item-end (click)="buyItem(item)">{{ child.isRaffle }}</button>
          <button ion-button outline item-end (click)="buyItem(item)">{{ child.isCheckpoint }}</button> -->
        </ion-item>
      </ion-list>
    </ion-list-header>
  </ion-list>
</ion-content>