<ion-header>

  <ion-navbar>
    <ion-title>Events</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list class="accordion-list">
        <!-- First Level -->
        <ion-list-header *ngFor="let item of myEvents; let i = index" no-lines no-padding>
          <!-- Toggle Button -->
          <button ion-item (click)="toggleSection(i,item)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
              <ion-icon item-left ios="ios-calendar" md="md-calendar" name="calendar"></ion-icon>
            <ion-icon item-right name="arrow-down" *ngIf="!item.open && item.readPoints.length>0"></ion-icon>
            <ion-icon item-right name="arrow-up" *ngIf="item.open && item.readPoints.length>0"></ion-icon>
             <h4> {{ item.eventName }}</h4>
             <h6>
              {{ item.eventStartDate }} -{{ item.eventEndDate }}
             </h6>
              
          </button>
          <ion-list *ngIf="item.readPoints && item.open" no-lines>
            <!-- Third Level -->
            <ion-item *ngFor="let child of item.readPoints; let k = index" detail-none class="child-item" text-wrap>
              <h2>{{ child.name }}</h2>
              <p text-lowercase>{{ child.description }}</p>
              <!-- Direct Add Button -->
              <button ion-button outline item-end (click)="buyItem(item)">{{ child.isRaffle }}</button>
              <button ion-button outline item-end (click)="buyItem(item)">{{ child.isCheckpoint }}</button>
            </ion-item>
          </ion-list>
        </ion-list-header>
      </ion-list>
</ion-content>
